body {
  font-family: 'Arial';
  font-size: 18px;
  width: 100%;
  height: auto;
  background: #dedede; }

body, div, p {
  margin: 0;
  padding: 0;
  border: 0; }

p {
  display: inline-block; }

header {
  height: 60px;
  background: #454545;
  width: 100%; }

.headerContainer {
  padding: 11px 30px; }

.titleText {
  background-color: #454545;
  display: inline-block;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  width: 120px;
  cursor: pointer; }
  .titleText .imageIcon {
    width: 0;
    height: 10%;
    padding: 2px 10px;
    float: left; }
  .titleText p {
    font-size: 18px;
    float: left; }

.buttonContainer {
  float: right; }

.newFolder {
  clear: both;
  background-color: #4d4d4d;
  display: inline-block;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  width: 120px;
  cursor: pointer;
  margin-right: 30px; }
  .newFolder .imageIcon {
    width: 11%;
    height: 10%;
    padding: 2px 10px;
    float: left; }
  .newFolder p {
    font-size: 15px;
    float: left; }

.upload {
  clear: both;
  background-color: #5f5f5f;
  display: inline-block;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  width: 90px;
  cursor: pointer; }
  .upload .imageIcon {
    width: 14%;
    height: 10%;
    padding: 2px 10px;
    float: left; }
  .upload p {
    font-size: 15px;
    float: left; }

.feedBlock {
  margin: 3%;
  width: 94%; }

.dataFeed {
  background: #fff;
  height: 50px;
  margin-bottom: 2px;
  color: #5f5f5f;
  position: relative;
  top: 0;
  -webkit-transition: top 2s;
  transition: top 2s; }
  .dataFeed img {
    width: 11px;
    height: 11px;
    margin-right: 15px; }
  .dataFeed .feedHeader {
    padding: 17px 30px; }
  .dataFeed .feedTitle {
    font-weight: bold; }
    .dataFeed .feedTitle span {
      margin-left: 10px; }
  .dataFeed .feed {
    padding: 17px 30px;
    font-size: 13px; }
  .dataFeed .nameColumn {
    width: 35%; }
  .dataFeed .ownerColumn {
    width: 25%; }
  .dataFeed .dateColumn {
    width: 15%; }
  .dataFeed .sizeColumn {
    width: 15%; }
  .dataFeed .deleteFeedBtn {
    float: right;
    background-color: #525252;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    width: 20px;
    cursor: pointer;
    padding: 2px;
    font-weight: bold;
    color: red; }
    .dataFeed .deleteFeedBtn .imageIcon {
      width: 0%;
      height: 10%;
      padding: 2px 10px;
      float: left; }
    .dataFeed .deleteFeedBtn p {
      font-size: 15px;
      float: left; }
  .dataFeed input {
    margin: 0 20px 0 0;
    vertical-align: middle; }
