

$themeColor: rgba(240, 20, 10, 0.72);
$themeColor: #454545;
$themeColor: #00b0f0;
$themeColor: #00Ff00;
$themeColor: #051207;


$fontSize: 18px;
$marginGap: 30px;
$nameColumnWidth: 35%;
$ownerColumnWidth: 25%;
$dateColumnWidth: 15%;
$sizeColumnWidth: 10%;


body{	
	font-family: 'Arial';
	font-size: $fontSize;
	width: 100%;
	height: auto;
	background: lighten($themeColor, 40%);
}

body, div, p{
	margin: 0;
	padding: 0;
	border: 0;
}
p{
	display: inline-block;
}

@mixin button-style($colorDiff, $fSize, $buttonWidth, $imageSize){		
	background-color: lighten($themeColor, $colorDiff);
	display: inline-block;
	color: #fff;
	padding: 8px;
	border-radius: 3px;
	text-align: center;	
	width: $buttonWidth;
	cursor: pointer;

	.imageIcon{
		width: $imageSize;
		height:10%;
		padding: 2px 10px;		
		float:left;		
	}
	p{
		font-size: $fSize;
		float:left;
	}
}

header{
	height : 60px;	
	background: $themeColor;	
	width: 100%;
}

.headerContainer{
	padding: 11px $marginGap;
}

.titleText{
	@include button-style(0, 18px, 120px, 0);
}
.buttonContainer{
	float: right;
	margin-top: 3px;
}
.newFolder{
	clear: both;
	@include button-style(7%, 15px, 120px, 11%);	
	margin-right: $marginGap;	
}
.upload{
	clear: both;
	@include button-style(10%, 15px, 90px, 14%);		
}

.feedBlock{
	margin: 3%;	
	width: 94%;		
	clear: both;
}

.dataFeed{
	background: #fff;
	height: 50px;
	margin-bottom: 2px;
	color: lighten($themeColor, 10%);
	position: relative;
		
	img{
		margin-right: $marginGap / 2;
	}
	.feedHeader{
		padding: 17px $marginGap;
	}		
	.feed{
		padding: 17px $marginGap;	
		font-size: $fontSize - 5;		
	}
	.nameColumn{		
		width: $nameColumnWidth;		
		img{
			width: 20px;
			height: 20px;		
			vertical-align: middle;
		}
	}
	.ownerColumn{		
		width: $ownerColumnWidth;
	}
	.dateColumn{		
		width: $dateColumnWidth;
	}
	.sizeColumn{		
		width: $sizeColumnWidth;		
	}
	.deleteFeedBtn{
		float: right;
		@include button-style(5%, 15px, 20px, 0%);
		padding: 2px;
		font-weight: bold;
		color: red;
	}
	input{
		margin:-5px 20px 0 0;
		vertical-align: middle;		
	}
	.feedTitle{
		font-weight: bold;
		span{
			margin-left: 10px;
		}		
	}
	.searchFeed, .feedTitle{
		img{
			width: 11px;
			height:11px;		
			margin-right: $marginGap / 2;
		}
	}

	top: 0px;
	-webkit-transition: top .5s, transform .5s;
	-ms-transition: top .5s, transform .5s;
	-moz-transition: top .5s, transform .5s;
    transition: top .5s, transform .5s;
	
}
